@tailwind base;

@tailwind components;

body,
html,
#root {
  height: 100%;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@keyframes fadeInOutAniomation {
  from {
    opacity: 0;
  }
}

.animate-fade-loop {
  animation: fadeInOutAniomation 1.6s infinite alternate;
  animation-delay: -1.3s;
}

[data-reach-slider] {
  @apply cursor-pointer;
}
[data-reach-slider]:focus,
[data-reach-slider]:active {
  @apply outline-none;
}
[data-reach-slider][data-disabled] {
}
[data-reach-slider][data-orientation="(horizontal|vertical)"] {
}
[data-reach-slider-input][data-orientation="horizontal"] {
  @apply flex items-center w-full py-4;
}

[data-reach-slider-track] {
  @apply bg-gray-300;
}
[data-reach-slider-track-highlight] {
  @apply bg-gray-500;
}
[data-reach-slider-track-highlight][data-disabled] {
}
[data-reach-slider-track-highlight][data-orientation="(horizontal|vertical)"] {
}
[data-reach-slider-track][data-orientation="horizontal"],
[data-reach-slider-track-highlight][data-orientation="horizontal"] {
  height: 5px;
  border-radius: 100px;
}
[data-reach-slider]:hover [data-reach-slider-track-highlight] {
  @apply bg-indigo-600;
}

[data-reach-slider-marker] {
}
[data-reach-slider-marker][data-disabled] {
}
[data-reach-slider-marker][data-orientation="(horizontal|vertical)"] {
}
[data-reach-slider-marker][data-state="(under|at|over)-value"] {
  /* marker is under, at, or over the slider value */
}
[data-reach-slider-marker][data-value="VALUE_REF"] {
  /* marker is under, at, or over the slider value */
}

[data-reach-slider-handle] {
  @apply border shadow outline-none opacity-0;
}
[data-reach-slider-handle][aria-disabled] {
}
[data-reach-slider-handle][aria-orientation="(horizontal|vertical)"] {
}
[data-reach-slider]:hover [data-reach-slider-handle] {
  @apply opacity-100 border-gray-500 bg-indigo-100;
}
[data-reach-slider]:active [data-reach-slider-handle] {
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset,
    1px 1px 4px 1px rgba(0, 0, 0, 0.3) inset;
}

@tailwind utilities;
